* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

li {
    margin-left: 2vh;
    list-style-type: circle;
    margin-top: 1vh;
}
li>a {
    padding: 1vh;
    display: block;
    width: 100%;
    height: 100%;
}
.global-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 6vw;
    margin: 0 10vw;
    height: 100vh;
}
a {
    text-decoration: none;
    color: black;
}
hr {
    height: 0.1vh;
    border: none;
    background: black;
    width: 100%;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
h2 {
    font-size: medium;
}
.icon {
    height: 35px;
}

.role {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.icon-role {
    height: 18px;
}
header {
    /*background: cornflowerblue;*/
    background: whitesmoke;
    background-size: 500px;

    padding: 2vh 2vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    grid-area: 1 / 1 / 2 / 2;
}

footer {
    /*background: cornflowerblue;*/
    background: whitesmoke;
    background-size: 500px;

    padding: 3vh;
    display: flex;
    gap: 1vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    grid-area: 2 / 1 / 4 / 2;
}

.header-main {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
}

.avatar-wrapper {
    padding: 10px;
    width: 100% ;
}
    .avatar-wrapper img {
        width: inherit;
        border-radius: 100%;
        transition: transform 1s ease-in-out;
    }

.header-qualities {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
}

.button {
    padding: 1vh;
    width: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 0 1px black inset;
}

.button > div {
    position: relative;
    z-index: 1111;
}

.button:before {
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    left: -100%;
    z-index: 1;
    transition: left .3s ease   ;
}

.button:hover {
    color: whitesmoke;
}

.button:hover:before {
    left: 0;
}

main {
    overflow: scroll;
    padding-bottom: 5vh;
    grid-area: 1 / 2 / 4 / 6;
}
    main:hover {
        overflow: auto;
    }

    main::-webkit-scrollbar {
        width: 0px;
    }
    main::-webkit-scrollbar-thumb {
        background: rgb(0, 0, 0);
    }
    main h2 {
        font-size: 200%;
    }

.main-main {
    /*background: #cccccc;*/
    /*background: mediumseagreen;*/
    background: lightgray;
    /*border: 2px black dotted;*/
    border-top: none;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-bottom: 5vh;

    border-radius: 0 0 20px 20px;
}
.main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
}
    .skills li{
        list-style-type: none;
        margin: 0;
        border-radius: 100vh;
        padding: 1vh 2vh;
    }

.skills-high {
    background: gold;
    color: black;
}
.skills-medium {
    background: royalblue;
    color: white;
}
.skills-low {
    background: darkgrey;
    color: white;
}
.projects {
    line-height: 1.5;
}
.projects span {
    padding: .5vh 1vh;
    border-radius: 100vh;
    border: 2px darkslateblue solid;
    color: darkslateblue;
}

.projects li:hover {
    transition: .1s;
    background: rgba(255,255,255,0.5);
    border-radius: 100px;
}
    .projects li:hover span{
        transition: .3s;
        background: darkslateblue;
        color: white;
    }

.main-notmain {
    padding: 0  2vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
    .main-notmain p{
        margin-left: 2vw;
    }

@media screen and (max-width: 700px){
    .global-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    header {
        padding: 3vh;
        background-size: 100vw;
    }

    footer {
        background-size: 100vw;
    }
    main {
        display: block;
        height: fit-content;
        overflow: inherit;
    }
        main:hover {
            overflow: inherit;
        }
}